<a href="https://colab.research.google.com/github/Jchethana1990/Machine-learing-workshop/blob/master/day2_session1_excerises_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

1.print multiples of 3 upto 200 using a list

In [0]:
print([i for i in range(1,200) if i%3==0])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

2.print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [0]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [0]:
a=[input() for i in range(int(input("Enter The N Value: ")))]
a.sort()
print(a)
print(a[-1::-1])

Enter The N Value: 4
chethana j
gowda
banglore
india
['banglore', 'chethana j', 'gowda', 'india']
['india', 'gowda', 'chethana j', 'banglore']

4.Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [12]:
import math
print([i for i in range(500,1001) if math.sqrt(i)==int(math.sqrt(i)) and i%5==0])

[625, 900]

5.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [13]:
s=input("Enter The String: ")
a=s.split(" ")
print(tuple(a))
print(max(tuple(a)))

Enter The String: chethana j gowda
('chethana', 'j', 'gowda')
j

In [0]:
6.Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.6.

In [15]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Roll Number Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(list(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 3
Enter The Roll Number Of Student-1: 01
Enter The Marks Of Student-1: 96
Enter The Roll Number Of Student-2: 02
Enter The Marks Of Student-2: 95
Enter The Roll Number Of Student-3: 03
Enter The Marks Of Student-3: 90
[('01', 96), ('02', 95), ('03', 90)]

7.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [16]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(list(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 3
Enter The Name Of Employee-1: chethana j
Enter The Salary Of Employee-1: 50000
Enter The Name Of Employee-2: anu
Enter The Salary Of Employee-2: 15000
Enter The Name Of Employee-3: kiran
Enter The Salary Of Employee-3: 10000
[('anu', 15000), ('chethana j', 50000), ('kiran', 10000)]